In [4]:
bil1 = input('isikan bilangan 1:')
bil2 = input('isikan bilangan 2:')
hasil = int(bil1) + int(bil2)
print("Hasil", bil1,"+", bil2, "=",hasil)

isikan bilangan 1:100
isikan bilangan 2:200
Hasil 100 + 200 = 300

In [11]:
bil1 = input('isikan bilangan 1:')
bil2 = input('isikan bilangan 2:')
luas = int(bil1) * int(bil2)
keliling = 2*(int(bil1) + int(bil2))
print("Hasil luas","=",luas)
print("Hasil keliling","=",keliling)

isikan bilangan 1:789
isikan bilangan 2:678
Hasil luas = 534942
Hasil keliling = 2934

In [13]:
print("A","B","C","D", sep='\n', end="^_^")

A
B
C
D^_^

In [14]:
print("A","B","C","D", sep='@_@')

A@_@B@_@C@_@D

In [17]:
num_1 = 8
num_2 = 10

# Hasil dari modulus 10 = 8

print ('hasil dari {} modulus {} = {}'.format(num_1,num_2,num_1%num_2))

hasil dari 8 modulus 10 = 8

In [23]:
fname = "kim"
mname = "Hartono"
lname = "Darmawan"

print('Nama anda {0} {1} {2}'.format(fname,mname,lname))

Nama anda kim Hartono Darmawan

In [21]:
print('Nama anda {nama} nilai anda {nilai}'.format(nama='wan',nilai=100))

Nama anda wan nilai anda 100

In [27]:
univ = "Universitas Nusa Putra"

print("karakter pertama : ",univ[0])
print("karakter terakhir : ",univ[-1])
#Universitas
print(univ[0:11])
print(univ[-5:])
print(univ[17:])
print(univ[::-1])

karakter pertama :  U
karakter terakhir :  a
Universitas
Putra
Putra
artuP asuN satisrevinU

In [30]:
f_name = 'Rudi'
l_name = 'Andri'

print(f'Nama saya {f_name} {l_name}')

first = 100
second = 20

print (f'Hasil Penjualan {first} + {second} = {first+second}')

Nama saya Rudi Andri
Hasil Penjualan 100 + 20 = 120

In [7]:
nama = "Andri,Budi,Cika"
nama2 = "Andri Budi Cika"
#split -> memisahkan string berdasarkan karakter tertentu
print(nama2.split())
print(nama.split(','))

#join -> menggabungkan string kedalam kumpulan karakter
print('@'.join(nama.split(',')))

#input tgl lahir-> Bill Gate
#output:
#tgl : 20, Bulan:Oktober, Tahun :2010
#Nama Inisial : BG

tgl = input("Masukan Tanggal Lahir : ")
nama = input ("Masukan Nama : ")
pemisah = tgl.split('/')
print(f"Tanggal : {pemisah[0]}, Bulan:{pemisah[1]}, Tahun:{pemisah[2]}")
pemisah2 = nama.split()
nama_pertama = pemisah2[0]
nama_terakhir = pemisah[1]
print(f"Nama Inisial : {nama_pertama[0]+nama_terakhir[0]}")

['Andri', 'Budi', 'Cika']
['Andri', 'Budi', 'Cika']
Andri@Budi@Cika
Masukan Tanggal Lahir : 28/03/2023
Masukan Nama : Budi
Tanggal : 28, Bulan:03, Tahun:2023
Nama Inisial : B0